# Java class files
*.class

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor settings
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Dependencies and build folders
node_modules/
dist/
build/
temp_classes/
